---
import NewLayout from '../layouts/newLayout.astro';
---

<NewLayout>
  <main class="about-page">
    <section class="about-section">
      <div class="avatar">
        <img src="/img/JohnDoe1.jpg" alt="Avatar" />
      </div>
      <div class="bio">
        <h1>O Mnie</h1>
        <p>
          Witaj na mojej stronie! Jestem pasjonatem technologii, gier retro i wszystkiego, co związane z epoką 8-bitową.
        </p>
        <p>
          Moje zainteresowania obejmują programowanie, tworzenie grafiki pikselowej i odkrywanie zapomnianych perełek z przeszłości.
        </p>
        <p>
          Zapraszam do eksplorowania mojej strony i dzielenia się swoimi własnymi wspomnieniami z tamtych lat!
        </p>
      </div>
    </section>
  </main>
</NewLayout>