---
import NewLayout from '../layouts/newLayout.astro';
---

<NewLayout>
  <main class="contact-page">
    <section class="contact-section">
      <h1>Kontakt</h1>
      <p>
        Jeśli masz jakieś pytania lub chcesz się ze mną skontaktować, możesz to zrobić za pomocą poniższych danych kontaktowych.
      </p>
      <div class="contact-info">
        <p>
          <strong>Email:</strong> <a href="mailto:twój@email.com">twój@email.com</a>
        </p>
        <p>
          <strong>Telefon:</strong> +48 123 456 789
        </p>
        <p>
          <strong>Adres:</strong> ul. Przykładowa 12, 00-123 Warszawa
        </p>
      </div>
      <div class="social-links">
        <p>
          Możesz mnie również znaleźć na:
        </p>
        <ul>
          <li>
            <a href="https://www.facebook.com/twojprofil" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/twojprofil" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/twojprofil" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
</NewLayout>