---
import '../styles/main.scss';   
---

<header class="hero">
    <div class="hero-content">
        <h1>JOHN DOE</h1>
        <p>Cyberpunkowy programista. Tworzę rzeczy z kodu.</p>
    </div>
    <div class="hero-image">
        <img src="/img/JohnDoe1.jpg" alt="Programista CRT">
    </div>
</header>