---
import '../styles/main.scss';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Doe</title>
</head>
<body>
   <header>
<Navigation/>

   </header>
   <slot />
</div>
<footer>
<Footer/>

</footer>
</body>
</html>